In [ ]:
set1={1,2,3,4}
set2={4,5,6,7}
union_set=set1.union(set2)
print("union:",union_set)

In [ ]:
inter=set1 & set2
print("inter:",inter)

In [ ]:
diff=set1.difference(set2)
print("difference:",diff)

In [ ]:
text="python is powerful, python is versatile, python is fun"
type(text)
text=text.lower()
text=set(text.split(" "))
print(text)

In [ ]:
x=["apple","banana"]
y=["apple","banana"]
z=x
print(z)
print(id(x))
print(id(y))
print(id(z))
print(x==y)
print(x is z)

In [ ]:
b=int(input("enter a number:"))
if b>0:
    print("positive")
else:
    print("negative")

In [ ]:
age=int(input("enter your age"))
if age>=18:
    print("you are eligible to vote")
else:
    remaining=18-age
    print("you are not eligible to vote , you have to wait",remaining,"years")

In [ ]:
num=(int(input("enter a number:")))
if num%2==0:
  print("it is even")
else:
  print("it is odd")

In [ ]:
number_1=int(input("enter a  number:"))
operator=input("enter the operator to be performed(+,-,*,/):")
number_2=int(input("enter a number:"))
if operator=="+":
  result=number_1+number_2
elif operator=="-":
  result=number_1-number_2
elif operator=="*":
  result=number_1*number_2
elif operator=="/":
    if number_2==0:
        print("ZeroDivisionError: division by zero")
    else:
        result=number_1/number_2

else:
  print("invalid numbrt")

print("result:",result)

In [ ]:
num=int(input("enter the year"))
if (num%4==0 
    print("it is a leap year")
else:
    print("it is not a leap year")

In [ ]:
number1=int(input("enter 1st number"))
number2=int(input("enter 2nd number"))
if number1>number2:
    print(number1 ,"is greater")
elif number2>number1:
    print(number2," is greater")
else :
    print(number1,"is equal to",number2)

In [ ]:
alp=input("enter a letter").lower()
vowels=("a","e","i","o","u")
if alp in vowels:
    print("vowel")
else:
    print("consonant")

In [ ]:
num1=(input("enter a number"))
if len(num1)%2!=0:
    mid=len(num1)//2
    print("middle number is",num1[mid])

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
for i in numbers:
    if i%2==0:
        print(i,"it is even")
    else:
        print(i,"it is odd")

In [ ]:
num = int(input("enter a number: "))
if num < 2:
    print("not a prime")
else:
    prime = True
    for i in range(2, num):
        if num % i == 0:
            prime = False
            break
    if prime:
        print(f'{num} is prime')
    else:
        print(f'{num} is not a prime')

In [ ]:
### anagram
a="silent"
b="listen"
if sorted(a)==sorted(b):
    print("it is a anagram")
else:
    print("it is not a anagram")

In [ ]:
##anagram
a=(input("enter a word")).lower()
b=(input("enter a word")).lower()
if sorted(a)==sorted(b):
   print("anagram")
else:
    print("not a anagram")

In [ ]:
###palindrome
text = input("Enter a word: ")
if text == text[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

In [ ]:
palindrome=(inpu
plaindrome="its a palindrome" if a==a[::-1] else "it not a palindrome
## terinary operator ( we use only if esle only writing code in one line)
print(palindrome)

In [ ]:
a=['python','java','ruby','reactjs','sql','powerbi']
a.sort()
a

In [ ]:
numb=75
rank="A+" if numb > 90 "A" else numb > 80 "B+" if numb > 70 else "B+" if numb > 70 else "B" 
print(rank)

In [ ]:
a = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
prod = 1
b = []
for i in a:
    for j in i:
        prod *= j
        b.append(prod)
    print(prod)

In [ ]:
w=0
while w<5:
    print(w)
    w+=1

In [ ]:
total = 0
count = 1
while total < 10:
    total+=count
    count+=1
    print(count)

In [4]:
a = 0
while a < 5:
    if a < 0:
        print("+ve")
        a+=1
    elif a > 0:
        print("-ve")
        a+=1
    else:
        print("zero")
        a+=1

zero
-ve
-ve
-ve
-ve

In [ ]:
### control flow statements
1.break 
2.continue
3.pass

In [ ]:
##break'
f=range(20)
for i in f:
    print(i)
    if i == 10:
        break

In [ ]:
g=list(range(10))
for j in g:
    if j == 8:
        break
    print(j)

In [ ]:
##storing the divisible by 2 values in list
h = range(100)
lst=list()
for i in h:
    if i % 2 ==0:
        lst.append(i)
    if i==50:
        break
print(lst)

In [ ]:
j = range(50)
tup = list()
for i in j:
    if i % 2!=0:
        continue
    tup.append(i)
print(tup)

In [ ]:
###enumertae:it has index and value
### zip : to combine two list

In [5]:
a=["a","b","c"]
b=[1,2,3]
for i,j in zip(a,b):
    print(f"{i} -> {j}")

a -> 1
b -> 2
c -> 3

In [ ]:
for i in range(5):
    if i == 3:
        pass
    print(i)

In [ ]:
##list comparsion

In [ ]:
even = [i if i%2==0 else None for i in range(20)]
print(even)

In [3]:
a = range(20,60)
div3 = [i for i in a if i%3==0]
div3

[21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

In [ ]:
###isdigit

In [2]:
for i in range(1,6):
 x= "*"
 x= x*i
 i+=1
 print(f"{x}")
if i==6:
    for i in range(4,0,-1):
        x= "*"
        x=x*i
        print(f"{x}")

*
**
***
****
*****
****
***
**
*

In [1]:
for i in range(1,6):
 x="^"
 t=x*i
 print(f"{t}")
 i+=1
if i==6:
    for i in range(4,0,-1):
     x="^"
     t=x*i
     print(f"{t}")

^
^^
^^^
^^^^
^^^^^
^^^^
^^^
^^
^

In [38]:
for i in range(1,10):
 i=str(i)
 print(i,end=" ")
 if i.endswith("0"):
     print("\n")

1 2 3 4 5 6 7 8 9

In [ ]:
mystr="python"
x=0
for i in mystr:
    x+=1
    print(mystr[0:x])
    for i in mystr:
        x-=1
        print(mystr[0:x])

pytho
pyth
pyt
py
p

In [1]:
square=[num**2 for num in(1,5)]
square

[1, 25]

In [ ]:
##functions
if we write the code inside the function we can reuse it 
3 types
1.built-in
2.user defined
3.lambda

In [8]:
def function():
    x=5
    y=6
    print(x+y)
function()

11

In [ ]:
positional argument
paramter and arugument in same order is positional arguments
keyword argument
key and value should be passed
variable length arguments
(*n) * should use

In [14]:
def sum(*n):
    total=0
    for n2 in n:
        total =total+n2
    return total
sum(10,20,30,40,50,60,100)

310

In [34]:
letter_to_number = {
'a': 1,
'b': 2,
'c': 3,
'd': 4,
'e': 5,
'f': 6,
'g': 7,
'h': 8,
'i': 9,
'j': 10,
'k': 11,
'l': 12,
'm': 13,
'n': 14,
'o': 15,
'p': 16,
'q': 17,
'r': 18,
's': 19,
't': 20,
'u': 21,
'v': 22,
'w': 23,
'x': 24,
'y': 25,
'z': 26
}

encoded_messages = [
'18-5-3-1-4'
,
'2-5-20-12-5'
,
'15-14-5-7-5-1'
,
'23-8-1-20'
,
'1-3-20-9-15-14'
,
'18-5-1-12-12-25'
,
'20-8-5'
,
'13-5-19-19-1-7-5'
,
'3-8-1-12-12-5-14-7-5'
,
]
def decode(val):
    for i,j in letter_to_number.items():
        if val == j:
            return i
for i in encoded_messages:
    h=i.split("-")
    for num in h:
        letter = decode(int(num))
        print(letter, end=" ")
    print()

r e c a d
b e t l e
o n e g e a
w h a t
a c t i o n
r e a l l y
t h e
m e s s a g e
c h a l l e n g e

In [47]:

students = ['Alice', 'Bob', 'Charlie', 'David', 'Eva']

grades = {
'Alice': [90, 85, 92, 88],
'Bob': [78, 95, 80, 70],
'Charlie': [82, 60, 75, 88],
'David': [65, 70, 68, 75],
'Eva': [88, 92, 45, 90]
}
for i in students:
    student_grade = grades[i]
    average = sum(student_grade) / len(student_grade)
    print(f"{i}'s average grade: {average}")

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
students = ['Alice', 'Bob', 'Charlie', 'David', 'Eva']

grades = {
'Alice': [90, 85, 92, 88],
'Bob': [78, 95, 80, 70],
'Charlie': [82, 60, 75, 88],
'David': [65, 70, 68, 75],
'Eva': [88, 92, 45, 90]
}
for i in students:
    student_grade = grades[i]
    average = sum(student_grade) / len(student_grade)
    print(f"{i}'s average grade: {average}")

Alice's average grade: 88.75
Bob's average grade: 80.75
Charlie's average grade: 76.25
David's average grade: 69.5
Eva's average grade: 78.75