In [9]:
set1={1,2,3,4}
set2={4,5,6,7}
union_set=set1.union(set2)
print("union:",union_set)

union: {1, 2, 3, 4, 5, 6, 7}

In [13]:
inter=set1 & set2
print("inter:",inter)

inter: {4}

In [15]:
diff=set1.difference(set2)
print("difference:",diff)

difference: {1, 2, 3}

In [23]:
text="python is powerful, python is versatile, python is fun"
type(text)
text=text.lower()
text=set(text.split(" "))
print(text)

{'is', 'versatile,', 'powerful,', 'fun', 'python'}

In [25]:
x=["apple","banana"]
y=["apple","banana"]
z=x
print(z)
print(id(x))
print(id(y))
print(id(z))
print(x==y)
print(x is z)

['apple', 'banana']
1210972362624
1210972323072
1210972362624
True
True

In [35]:
b=int(input("enter a number:"))
if b>0:
    print("positive")
else:
    print("negative")

enter a number: 10

positive

In [41]:
age=int(input("enter your age"))
if age>=18:
    print("you are eligible to vote")
else:
    remaining=18-age
    print("you are not eligible to vote , you have to wait",remaining,"years")

enter your age 12

you are not eligible to vote , you have to wait 6 years

In [1]:
num=(int(input("enter a number:")))
if num%2==0:
  print("it is even")
else:
  print("it is odd")

enter a number: 4

it is even

In [23]:
number_1=int(input("enter a  number:"))
operator=input("enter the operator to be performed(+,-,*,/):")
number_2=int(input("enter a number:"))
if operator=="+":
  result=number_1+number_2
elif operator=="-":
  result=number_1-number_2
elif operator=="*":
  result=number_1*number_2
elif operator=="/":
    if number_2==0:
        print("ZeroDivisionError: division by zero")
    else:
        result=number_1/number_2

else:
  print("invalid numbrt")

print("result:",result)

enter a  number: 2
enter the operator to be performed(+,-,*,/): /
enter a number: 1

result: 2.0

In [ ]:
num=int(input("enter the year"))
if (num%4==0 
    print("it is a leap year")
else:
    print("it is not a leap year")

In [9]:
number1=int(input("enter 1st number"))
number2=int(input("enter 2nd number"))
if number1>number2:
    print(number1 ,"is greater")
elif number2>number1:
    print(number2," is greater")
else :
    print(number1,"is equal to",number2)

enter 1st number 23
enter 2nd number 23

23 is equal to 23

In [15]:
alp=input("enter a letter").lower()
vowels=("a","e","i","o","u")
if alp in vowels:
    print("vowel")
else:
    print("consonant")

enter a letter a

vowel

In [27]:
num1=(input("enter a number"))
if len(num1)%2!=0:
    mid=len(num1)//2
    print("middle number is",num1[mid])

enter a number 23456

middle number is 4

In [35]:
numbers=[1,2,3,4,5,6,7,8]
for i in numbers:
    if i%2==0:
        print(i,"it is even")
    else:
        print(i,"it is odd")

1 it is odd
2 it is even
3 it is odd
4 it is even
5 it is odd
6 it is even
7 it is odd
8 it is even

In [5]:
num = int(input("enter a number: "))
if num < 2:
    print("not a prime")
else:
    prime = True
    for i in range(2, num):
        if num % i == 0:
            prime = False
            break
    if prime:
        print(f'{num} is prime')
    else:
        print(f'{num} is not a prime')

enter a number:  4

4 is not a prime

In [16]:
### anagram
a="silent"
b="listen"
if sorted(a)==sorted(b):
    print("it is a anagram")
else:
    print("it is not a anagram")

it is a anagram

In [20]:
##anagram
a=(input("enter a word")).lower()
b=(input("enter a word")).lower()
if sorted(a)==sorted(b):
   print("anagram")
else:
    print("not a anagram")

enter a word mad
enter a word dam

anagram

In [22]:
###palindrome
text = input("Enter a word: ")
if text == text[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a word:  madam

Palindrome

In [30]:
palindrome=(inpu
plaindrome="its a palindrome" if a==a[::-1] else "it not a palindrome
## terinary operator ( we use only if esle only writing code in one line)
print(palindrome)

SyntaxError: unterminated string literal (detected at line 1) (2302211507.py, line 1)

In [28]:
a=['python','java','ruby','reactjs','sql','powerbi']
a.sort()
a

['java', 'powerbi', 'python', 'reactjs', 'ruby', 'sql']

In [ ]:
numb=75
rank="A+" if numb > 90 "A" else numb > 80 "B+" if numb > 70 else "B+" if numb > 70 else "B" 
print(rank)

In [12]:
a = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
prod = 1
b = []
for i in a:
    for j in i:
        prod *= j
        b.append(prod)
    print(prod)

6
720
362880

In [52]:
w=0
while w<5:
    print(w)
    w+=1

0
1
2
3
4

In [54]:
total = 0
count = 1
while total < 10:
    total+=count
    count+=1
    print(count)

2
3
4
5

In [58]:
a = 0
while a < 5:
    if a < 0:
        print("+ve")
        a+=1
    elif a > 0:
        print("-ve")
        a+=1
    else:
        print("zero")
        a+=1

zero
-ve
-ve
-ve
-ve

In [ ]:
### control flow statements
1.break 
2.continue
3.pass

In [67]:
##break'
f=range(20)
for i in f:
    print(i)
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [69]:
g=list(range(10))
for j in g:
    if j == 8:
        break
    print(j)

0
1
2
3
4
5
6
7

In [73]:
##storing the divisible by 2 values in list
h = range(100)
lst=list()
for i in h:
    if i % 2 ==0:
        lst.append(i)
    if i==50:
        break
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [75]:
j = range(50)
tup = list()
for i in j:
    if i % 2!=0:
        continue
    tup.append(i)
print(tup)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
###enumertae:it has index and value
### zip : to combine two list

In [79]:
a=["a","b","c"]
b=[1,2,3]
for i,j in zip(a,b):
    print(f"{i} -> {j}")

a -> 1
b -> 2
c -> 3

In [81]:
for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [ ]:
##list comparsion

In [19]:
even = [i if i%2==0 else None for i in range(20)]
print(even)

[0, None, 2, None, 4, None, 6, None, 8, None, 10, None, 12, None, 14, None, 16, None, 18, None]

In [21]:
a = range(20,60)
div3 = [i for i in a if i%3==0]
div3

[21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

In [ ]:
###isdigit